<!DOCTYPE html>
<html ng-app="SchoolApp">
    <head>
        <title>AnguarJs App: Watcher</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/style.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Genweb2 School</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>                        
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div class="row" ng-controller="MessageController">
                <div class="col-md-12">
                    <div ng-controller="StatusController">    
                        <h4>{{displayAdvertisements.length}} Advertisements(s) <span class="label label-{{statusLabel}}">{{status}}</span></h4>                        
                    </div>                                
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="advertisement in displayAdvertisements">{{ advertisement}}</li>
                    </ul>
                </div>                
            </div>   

            <div class="row" ng-controller="StudentsController">                   
                <div class="col-md-6">
                    <h2>New Student</h2>
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="newStudent.name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="newStudent.email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="newStudent.phone">
                        </div>                       
                        <button type="submit" class="btn btn-default" ng-click="saveStudent(newStudent)">Submit</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2>Student List</h2>
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="" ng-repeat="student in students track by $index| orderBy: '-name' | limitTo:numLimit"><a href="#" ng-click="displayEmail(student)">{{ student.name | uppercase}}</a> [<i>{{ student.phone}}</i>]</li>                    
                    </ul>                    
                    <h2>Course Information</h2>
                    <label>{{ courseInfo.name}} [{{ courseInfo.point}}]</label>                    
                </div>                             
            </div>
        </div><!-- /.container -->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>      
        <script src="app/app.js"></script>
        <script src="app/controllers.js"></script>
        <script src="app/messageControllers.js"></script>
        <script src="app/statusControllers.js"></script>
    </body>    
</html>
